attrs==23.2.1.dev0
cffi==1.16.0
cryptography==42.0.6
distlib==0.3.8
docopt==0.6.2
filelock==3.13.3
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
pycparser==2.22
PyGObject==3.48.2
ranger-fm==1.9.3
ueberzug==18.2.3
virtualenv==20.26.2
wheel==0.44.0
